.form-container {
    max-width: 1000px;
    margin: auto;
    padding: 12px;
    padding: 10px;
  }
 
  .margin-field {
    margin: 0 16px 16px 16px;
  }
    
  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
  }
  
  .image-preview {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .image-preview button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  
  h3 {
    margin-top: 20px;
  }

  .data-grid-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
  }
  table {
    width: 100%;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .mockup-card, .image-section {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-right: 5px;
  }
  

  .view-container {
    width: 100%;
    padding: 10px;
  }
  
  /* Flexbox for aligning the title and button */
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .left-content {
    font-weight: bold;
  }
  
  .right-content {
    text-align: right;
  }
  
  /* Cards styling */
  .mockup-card, .image-section {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  /* Responsive styling for smaller screens */
  @media (max-width: 768px) {
    .panel-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .right-content {
      margin-top: 10px;
      text-align: left;
      width: 100%;
    }
  }
  
  .image-preview-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .image-preview {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
  }