/* category-item-setup.component.css */

.form-container {
    margin: 20px;
  }
  
  .grid {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  .margin-field {
    margin: 0 16px 16px 16px;
  }
  